html {
	margin: 0px;
  background-color: #f9bd63;
  width: 100%;
  min-width: 550px;
  min-height: 700px;
}

body {
  margin: 0px;
  width: 100%;
  padding-bottom: 100px;
  font-size: 18px;
}

content {
  margin: 0px;
  width: 100%;
}

h1 {
	font-family: 'Cinzel', serif;
  letter-spacing: 10px;
  font-size: 50px;
  color: #e03d18;
  font-weight: lighter;
}

h2 {
  font-family: 'Press Start 2P', cursive;
	font-size: 28px;
  color: #a00b0b;
  font-weight: lighter;
}

h3 {
	font-family: 'Press Start 2P', cursive;
	font-size: 24px;
  color: #ddac0b;
  font-weight: lighter;
}

h4 {
	font-family: 'Press Start 2P', cursive;
	font-size: 20px;
  color: #ddac0b;
  font-weight: lighter;
}

h5 {
	font-family: 'Press Start 2P', cursive;
	font-size: 26px;
  color: #ddac0b;
  font-weight: lighter;
}

p {
  font-family: 'Work Sans', sans-serif;
	font-size: 18px;
  color: #000000;
  font-weight: lighter;
  line-height: 30px;
}


#navbar, #top-line{
  height: 40px;
  width: 100%;
  text-align: center;
  z-index: 10;
  position: fixed;
  top: 0px;
  display: inline-block;
  overflow: hidden;
}

#navbar {
  background-color: #eae8f7;
}

#top-line, #bottom-line {
  top: 40px;
  height: 1px;
  width: 100%;
  background-color: #b9b9c9;
}

.navbar-item {
	display: inline-block;
	text-align: center;
  line-height: 40px;
  width: 180px;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  font-weight: lighter;
	color: #61616d;
}

.navbar-item:hover {
	text-decoration: underline;
}

.navbar-item, .info{
  cursor: pointer;
}

#title {
  position: relative;
  padding-top: 60px;
}

#names {
  padding-bottom: 60px;
}

#top {
  background-image: url('../magis/fiyer.jpg');
  background-size: cover;
  background-color: #dcdcef;
}

.info {
  padding-left: 100px;
  padding-right: 100px;
}

#stuff {
  position: relative;
  top: 300px;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  margin: auto;
  width: 1000px;
  display: inline-block;
  padding-bottom: 150px;
}

.terms {
  position: relative;
  text-align: center;
  margin: auto;
  width: 825px;
  /*height: 500px;*/
}

.pic {
  position: relative;
  margin: auto;
  float: right;
}

.title {
  margin: 0px;
}

.subsection {
  padding-top: 60px;
}

.details {
  padding-top: 15px;
  position: relative;
  margin: auto;
  text-align: left;
  height: 415px;
  top: 10px;
}


#prev {
  position: absolute;
  top:130px;
  opacity: 1;
  cursor: pointer;
  color: #ddac0b;
  font-size: 28px;
  transition: 0.4s ease;
  border-radius: 50%;
  float: left;
}

#next {
  position: absolute;
  top:130px;
  opacity: 1;
  cursor: pointer;
  color: #ddac0b;
  font-size: 28px;
  transition: 0.4s ease;
  border-radius: 50%;
  float: right;
  right: 0;
}

#dots {
  text-align: left;
  left: 0px;
  position: relative;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  color: #ddac0b;
  font-weight: lighter;
  width: 25%;
  line-height: 95px;
}


.dot {
  cursor: pointer;
  opacity: 0.6;
  padding-left: 50px;
  /*height: 10px;
  width: 10px;
  margin-left: 4px;
  margin-right: 4px;*/
  /*border-radius: 50%;*/
  /*display: inline-block;*/
  transition: background-color 0.5s ease;
}

.active, .dot:hover  {
  opacity: 1.0;
  text-decoration: underline;
}
